.features{
    .feature-warp{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        .feature-item{
            padding: 30px 15px;
        }
    }
}