.bg-gray-50 {
    background-color: #fafbfb;
}
.bg-gray-10 {
    background-color: #fafbfb0f;
}

.homepage3{
    background: url(../../../images/home-bg-3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -11;
}